<!--The content below is only a placeholder and can be replaced.-->
<h1> User List Using --- </h1>
<div id="menu-outer">
  <div class="table">
    <ul id="horizontal-list">
      <li> <a  [routerLink]="['/callbackUser']">Using Callback</a>  </li>
      <li> <a  [routerLink]="['/promiseUser']">Using Promise</a>  </li>
      <li> <a  [routerLink]="['/createObservable']">Create Obserbale</a>  </li>
      <li> <a  [routerLink]="['/observerUsers']">Using Observer</a>  </li>

    </ul>
  </div>
</div>
<hr>

<div>  
  <router-outlet></router-outlet>  
</div>


