#menu-outer {
	height: 84px;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
}
ul#horizontal-list li {
        display: inline;
        border: 2px solid grey; 
        padding-left: 20px;
        padding-right: 20px;
}

