<!--The content below is only a placeholder and can be replaced.-->
<h1> Operators Examples <span class="highlight">Promise</span></h1>

<div style="margin-top:80px;">
    
    <span class="demoBox">
      <button (click)="clickFilter()"> FilterBtn</button>
      <button (click)="unsubscribe()"> unsubscribe </button>
      
        <span> Filter Value :: {{filtervalue}} </span>
    </span>

    <span class="demoBox">
        <button (click)="clickFilter()"> FilterBtn</button>
        <button (click)="unsubscribe()"> unsubscribe </button>
        
          <span> Filter Value :: {{filtervalue}} </span>
      </span>
      
  </div>